<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genesis.prototype">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <!-- Activities/services/providers are generated or defined elsewhere. -->
    </application>

</manifest>
